<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary" [routerLink]="['/patients/search']">
        <div class="card-body pb-0">
          <h4 class="mb-0">Patient</h4>
          <p>Search existing</p>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info" [routerLink]="['/patients/add']">
        <div class="card-body pb-0">
          <h4 class="mb-0">Patient</h4>
          <p>Add new</p>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning" [routerLink]="['/localization/medicines']">
        <div class="card-body pb-0">
          <h4 class="mb-0">Medicine</h4>
          <p>View/Add</p>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger" [routerLink]="['/localization/diseases']">
        <div class="card-body pb-0">
          <h4 class="mb-0">Diseases</h4>
          <p>View/Add</p>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary" [routerLink]="['/localization/hospitals']">
        <div class="card-body pb-0">
          <h4 class="mb-0">Hospitals</h4>
          <p>View/Add</p>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info" [routerLink]="['/localization/insurance']">
        <div class="card-body pb-0">
          <h4 class="mb-0">Insurance</h4>
          <p>View/Add</p>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning" [routerLink]="['/extras/accounts']">
        <div class="card-body pb-0">
          <h4 class="mb-0">Practitioners</h4>
          <p>View/Add</p>
        </div>
      </div>
    </div><!--/.col-->
    <!--<div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <h4 class="mb-0">Diseases</h4>
          <p>View/Add</p>
        </div>
      </div>
    </div>&lt;!&ndash;/.col&ndash;&gt;-->
  </div><!--/.row-->
</div>
